.home-container {
    text-align: center;
    padding: 50px;
    background: url("/images/default.webp") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.title {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}
